<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupLocation" value="C:\temp\testfiles\"/>
    <add key="ExpiryDays" value ="7"/>
    <add key="PollingTimeHours" value="0"/>
    <add key="PollingTimeMins" value="0"/>
    <add key="PollingTimeSeconds" value="5"/>
  </appSettings>
</configuration>